body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Format Footer element */
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   height: 23px;
   width: 100%;
   background: #DE4815;
   border-top: 1px solid #92330D;
}
.footer_left {
  display: inline-block;
  padding-left: 30px;
  height: 100%;
  width: 49%;
  text-align: left;
}
.footer_right {
  display: inline-block;
  padding-right: 30px;
  height: 100%;
  width: 49%;
  text-align: right;
}

/* Format links */
.a_footer:link {
  color: white;
}
.a_footer:visited {
  color: white;
}
.a_footer:hover {
  color: 	#571e07;
  font-weight: bold;
}
.a_footer:active {
  color: white;
}
a:hover {
  text-decoration: none;
}

.navbar {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
}

.main {
  margin-top: 30px;
}

.hr-orange {
  border: 2px solid #D94801;
}

.hr-grey {
  border: 0.5px dotted black; /* #c7c7c7; */
}

.breadcrumb >.active {
   color: black;
}

.wide_container {
  max-width: 1800px;
  left: 15px;
  right: 15px;
  top: 350px;
  position: absolute;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

/* ------------------------------------------------------------------------- */
/* Add code for simple side-by-side images */
.gallery_2 {
  position: relative;
  float: left;
  margin: 1px;
  width: 49%;
}

.gallery_3 {
  position: relative;
  float: left;
  margin: 1px;
  width: 32%;
}

.gallery_2 .caption {
  opacity: 0;
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 2px 0px;
  background: rgba(255,255,255,.8);
  font-size: 14px;
  font-weight: bold;
}

.gallery_3 .caption {
  opacity: 0;
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 2px 0px;
  background: rgba(255,255,255,.8);
  font-size: 14px;
  font-weight: bold;
}

.gallery_2 img {
  max-height:300px;
}

.gallery_3 img {
  max-height:300px;
}

.gallery_2:hover .caption {
  opacity: 0.9
}

.gallery_3:hover .caption {
  opacity: 0.9
}

@media screen and (max-width: 400px) {
    .map_image {
    width: 100%; float: right; padding: 0 20px 20px 0; vertical-align: middle; }
    .map_text {
    width: 100%; float: left; vertical-align: middle; margin: auto 0; }
}
@media screen and (min-width: 400px) {
    .map_image {
    width: 30%; float: right; padding: 0 20px 20px 0; vertical-align: middle; }
    .map_text {
    width: 70%; float: left; vertical-align: middle; margin: auto 0; }
}

/* ------------------------------------------------------------------------- */
/* Create image gallery */

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 5px;
  text-align: center;
}

.responsive {
  padding: 3px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ------------------------------------------------------------------------- */
/* Code for Timeline */

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #D94801;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content bubbles*/
.tl_container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.tl_container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #FF9F55;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #FF9F55 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -13px;
}

/* The actual content */
.content {
  padding: 5px 20px;
  background-color: #FF9F55;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .tl_container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .tl_container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

.tl_header{
  font-weight: bold;
  color: #b83d00
}

/* ------------------------------------------------------------------------- */
/* Create HOVERBOX for TEAM page */
.hvrbox .hvrbox * {
	box-sizing: border-box;
}

.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
	border: 1px solid #c7c7c7;
}
.hvrbox_background {
    display: inline-block;
    margin: 0.3%;
    width: 23.999%;
    height: 250px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 700px) {
  .hvrbox_background {
    display: inline-block;
    width: 40%;
    margin: 4%;
  }
}

@media only screen and (max-width: 500px) {
  .hvrbox_background {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}
.hvrbox img {
	max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
	display: block;
}
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}
.hvrbox .hvrbox-text {
	text-align: center;
	font-size: 12px;
	display: inline-block;
	position: absolute;
	width: 95%;
	height: auto;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
	font-size: 10px;
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}
.hvrbox.active .hvrbox-text_mobile {
	display: block;
}

/* ------------------------------------------------------------------------- */
/* Create LIGHTBOX for GALLERY page */

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  margin-top: 50px;
  padding-top: 1%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  margin: auto;
  padding: 5px 50px 2px 50px; /* top, right, bottom, left */
  display: inline-block;
  width: auto;
}

.modal-img-resp {
  margin: auto;
  max-height: calc(100vh - 120px);
}

/* The Close Button */
.close_modal {
  color: white;
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 35px;
  font-weight: bold;
}

.close_modal:hover,
.close_modal:focus {
  color: #DE4815;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides1 .mySlides2 .mySlides3 {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "previous button" to the left */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: #DE4815;
  /* background-color: rgba(0, 0, 0, 0.8); */
}

/* Number text (1/3 etc) */
.numbertext {
  background-color: rgba(0, 0, 0, 0.8);
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 15px;
}

/* Caption text */
.caption-container {
  text-align: center;
  color: white;
  font-size: 13px;
}

.demo1 .demo2 .demo3 {
  opacity: 1;
  cursor: pointer; /* Mouse pointer on hover */
}

.hover-shadow {
  border: 1px solid #c7c7c7;
}

.hover-shadow:hover {
  border: 1px solid black;
  /*  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

/* ------------------------------------------------------------------------- */
/* Create TABS for GALLERY page */

/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
}

/* Style the tab */
.tab {
  position: fixed;
  left: 0;
  background-color: #FF9F55;
  border: 2px solid #DE4815;
  width: 15%;
  height: 100%;
  display: inline-block;
}

/* Style top button */
.tabtitle {
  display: block;
  background-color: #FF9F55;
  color: black;
  font-size: 15px;
  padding: 10px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #DE4815;
  outline: none;
  text-align: center;
  font-style: italic;
  cursor: default;
}

/* Style the buttons that are used to open the tab content */
.tablink {
  display: block;
  background-color: #FF9F55;
  color: black;
  padding: 10px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: #DE4815;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding-left: 15px;
  height: 100%;
}

/* ------------------------------------------------------------------------- */
/* Create blog layout for NEWS page */

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 70%;
}
/* Right column */
.rightcolumn {
  float: left;
  width: 30%;
  padding-left: 20px;
}

/* Setup image box */
.img_container {
  position: relative;
  width: 40%;
  max-width: 300px;
  float: left;
  margin: 0px 10px 5px 0px;
}
.img_link {
  width: 100%;
  display: block;
  height: auto;
}
.img_overlay {
  display: none;
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  /* transition: .5s ease; */
  color: white;
  font-size: 16px;
  padding: 20px;
  text-align: center;
  opacity: 0;
}
.img_overlay:hover {
  display: block;
  opacity: 1;
}

/* Add a card effect for articles */
.leftcard {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(255, 159, 85, 0.3), 0 6px 20px 0 rgba(255, 159, 85, 0.29);
}
.rightcard {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  /*border: 2px solid #DE4815;*/
}
.rightcard_header {
  text-align: center;
  background: rgba(255, 159, 85, 0.9);
  color: black;
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

p.top {
  text-align: right;
  font-style: italic;
}

ol li {
    list-style-position: inside;
}